.wrap{
    max-width: 1920px;
    margin: 0 auto;
}

header,section,footer{
    position: relative;
    width: 100%;
}

header{
    height: 98px;
    /* background-color: red; */
}

.section_1{
    width: 100%;
    height: 550px;
    background-image: url(../img/main2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;align-items: center;
}

.section_2{
    padding: 215px 55px 260px;
}

.section_3,.section_4,.section_5,.section_6{
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: yellow; */
}

.section_4,.section_6{
    padding: 178px 50px;
}

.section_7{
    max-width: 1750px;
    padding: 74px 50px 190px;
    margin: 0 auto;
    /* background-color: beige; */
}

footer{
    border-top: 0.5px solid #dbdbdb;
}

.footer_wrap{
    max-width: 1750px;
    margin: 0 auto;
    padding: 30px 50px 45px; 
    display: flex;
    justify-content: space-between;
}

.sec_left{
    width: 720px;
}

.sec_commom_right{
    width: 720px;
}

.sec_right{
    width: 50%;
    padding-left: 50px;
    /* background-color: skyblue; */
}

.sec_common_left{
    width: 50%;
    padding-right: 50px;
    /* background-color: skyblue; */
}


.sec_text>p:nth-child(1){
    font-size: 30px;
    font-weight: 700;
    color: #111;
    /* background-color: yellowgreen; */
}

.sec_text>p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    color: #666;
    margin-top: 8px;
    /* background-color: beige; */
}

.btn{
    width: 75px;
    height: 27px;
    border-bottom: 1px solid #000;
    margin-top: 10px;
}

.btn>a{
    color: #000;
    font-size: 15px;
    font-weight: 500;
}




/* ==================================================================== 1200 start  */
@media all and (max-width:1280px) {
    
    header{
        height: 50px;
    }

    .sec_left{
        width: 50%;
    }

    .sec_commom_right{
        width: 50%;
    }
    
    .sec_text>p:nth-child(1){
        font-size: 27px;
    }
    
    .sec_text>p:nth-child(2){
        font-size: 17px;
    }

    .footer_wrap{
        padding-bottom: 30px;
    }
 

}

/* ==================================================================== 960 start  */
@media all and (max-width:980px) {

    .section_3,.section_5{
        flex-direction: column;
    }

    .section_4,.section_6{
        flex-direction: column-reverse;
        padding: 55px 50px;
    }

    .section_7{
        padding: 55px 50px 100px;
    }

    .sec_left{
        width: 100%;
    }

    .sec_common_left{
        width: 100%;
        padding-right: 0;
    }

    .sec_commom_right{
        width: 100%;
    }

    .sec_right{
        width: 100%;
        padding-left: 0;
    }
    
    .sec_text>p:nth-child(1){
        font-size: 24px;
        margin-top: 12px;
    }
    
    .sec_text>p:nth-child(2){
        font-size: 14.4px;
    }

    .btn{
        width: 65px;
    }
    
    .btn>a{
        font-size: 14px;
    }
  
}

/* ==================================================================== 767 start  */
@media all and (max-width:767px) {
 
    .section_2{
        padding: 75px 20px 101px;
    }

    .section_3,.section_5{
        padding: 0 20px;
    }

    .section_4,.section_6{
        padding: 55px 20px;
    }

    .section_5 .sec_text>p:nth-child(2){
        font-size: 14.1px;
    }


    .section_7{
        padding: 55px 20px 110px;
    }

    .footer_wrap{
        padding: 20px;
    }
}

